.chatbox {
  height: calc(100vh - 70px);
  width: calc(100% - 200px);
  background-color: #F5F5F5;
  /* INSERT LEFT/RIGHT MARGIN */
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 12px;
}
