html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  body: 100%;
  background-color: #F5F5F5;
}

.primary {
  color: #5677fc;
}

.primary_dark {
  color: #455ede;
}

.accent {
  color: #ff5177;
}
