.chatInputWrapper {
  float: left;
  height: auto;
  width: calc(100% - 200px);
}

.chatInput {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 85%;
}

.chatInputButton {
  float: left;
  margin-top: 7px;
  margin-left: 5px;
}
